<header>
    <nav class="navbar navbar-expand-lg nav-light bg-dark">
            <div class="container">
              <div class="navbar-brand">
                <img src="https://substackcdn.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fsubstack-post-media.s3.amazonaws.com%2Fpublic%2Fimages%2F8ed3d547-94ff-48e1-9f20-8c14a7030a02_2000x2000.jpeg" 
                alt="logo" class="logoStore">
              </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" routerLink="/">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/">Thông báo</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" routerLink="/order">
                        <i class="fas fa-shopping-cart icon"></i>
                        Giỏ hàng</a>
                    </li>
                    
                    <li class="nav-item">
                      <a class="nav-link" aria-disabled="true" routerLink="/login">Đăng nhập</a>
                    </li>
                  </ul>
                </div>
              </div>
    </nav>
</header>