<app-header></app-header>


<main>
    <section class="product">
        <div class="container">
            <div class="intro-section">
                <h1>đây là trang chủ</h1>
            </div>
            <div class="search-box">
                <input type="text" class="form-control search-input" placeholder="tìm kiếm sản phẩm">
                <select class="form-control product-category">
                    <option value="" selected disabled>Danh mục sản phẩm</option>
                    <option value="">Đồ điện tử</option>
                    <option value="">Hải sản</option>
                    <option value="">đồ ăn vặt</option>
                </select>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="product-item">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/305658/iphone-15-pro-max-blue-thumbnew-600x600.jpg" alt="Product Image" class="product-image">
                        <h3 class="product-name">Iphone 1</h3>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto maxime, minima beatae blanditiis eius explicabo et odit incidunt ab odio modi labore necessitatibus consequuntur iusto ducimus temporibus accusamus dignissimos quidem?</p>
                        <p class="product-warranty">Bảo hành: 12 tháng</p>
                        <p class="product-price">GIá: <del>$450</del> $250</p>
                        <div class="product-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="product-action">
                            <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                            <span class="space"></span>
                            <button class="btn btn-success">Mua ngay</button>
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="product-item">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/305658/iphone-15-pro-max-blue-thumbnew-600x600.jpg" alt="Product Image" class="product-image">
                        <h3 class="product-name">Iphone 1</h3>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto maxime, minima beatae blanditiis eius explicabo et odit incidunt ab odio modi labore necessitatibus consequuntur iusto ducimus temporibus accusamus dignissimos quidem?</p>
                        <p class="product-warranty">Bảo hành: 12 tháng</p>
                        <p class="product-price">GIá: <del>$450</del> $250</p>
                        <div class="product-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="product-action">
                            <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                            <span class="space"></span>
                            <button class="btn btn-success">Mua ngay</button>
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="product-item">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/305658/iphone-15-pro-max-blue-thumbnew-600x600.jpg" alt="Product Image" class="product-image">
                        <h3 class="product-name">Iphone 1</h3>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto maxime, minima beatae blanditiis eius explicabo et odit incidunt ab odio modi labore necessitatibus consequuntur iusto ducimus temporibus accusamus dignissimos quidem?</p>
                        <p class="product-warranty">Bảo hành: 12 tháng</p>
                        <p class="product-price">GIá: <del>$450</del> $250</p>
                        <div class="product-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="product-action">
                            <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                            <span class="space"></span>
                            <button class="btn btn-success">Mua ngay</button>
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="product-item">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/305658/iphone-15-pro-max-blue-thumbnew-600x600.jpg" alt="Product Image" class="product-image">
                        <h3 class="product-name">Iphone 1</h3>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto maxime, minima beatae blanditiis eius explicabo et odit incidunt ab odio modi labore necessitatibus consequuntur iusto ducimus temporibus accusamus dignissimos quidem?</p>
                        <p class="product-warranty">Bảo hành: 12 tháng</p>
                        <p class="product-price">GIá: <del>$450</del> $250</p>
                        <div class="product-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="product-action">
                            <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                            <span class="space"></span>
                            <button class="btn btn-success">Mua ngay</button>
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 ">
                    <div class="product-item">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/305658/iphone-15-pro-max-blue-thumbnew-600x600.jpg" alt="Product Image" class="product-image">
                        <h3 class="product-name">Iphone 1</h3>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto maxime, minima beatae blanditiis eius explicabo et odit incidunt ab odio modi labore necessitatibus consequuntur iusto ducimus temporibus accusamus dignissimos quidem?</p>
                        <p class="product-warranty">Bảo hành: 12 tháng</p>
                        <p class="product-price">GIá: <del>$450</del> $250</p>
                        <div class="product-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="product-action">
                            <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                            <span class="space"></span>
                            <button class="btn btn-success">Mua ngay</button>
                        </div>
                    </div>
                    
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="product-item">
                        <img src="https://cdn.tgdd.vn/Products/Images/42/305658/iphone-15-pro-max-blue-thumbnew-600x600.jpg" alt="Product Image" class="product-image">
                        <h3 class="product-name">Iphone 1</h3>
                        <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto maxime, minima beatae blanditiis eius explicabo et odit incidunt ab odio modi labore necessitatibus consequuntur iusto ducimus temporibus accusamus dignissimos quidem?</p>
                        <p class="product-warranty">Bảo hành: 12 tháng</p>
                        <p class="product-price">GIá: <del>$450</del> $250</p>
                        <div class="product-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                        <div class="product-action">
                            <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                            <span class="space"></span>
                            <button class="btn btn-success">Mua ngay</button>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </section>
</main>

<app-footer></app-footer>

